<ion-header>
  <ion-navbar transparent color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
    <ion-fab top right edge>
        <button navPush="CartPage" ion-fab mini><ion-icon name="cart"></ion-icon></button>
      </ion-fab>
    <ion-card >
        

        <ion-list>
          <button ion-item *ngFor="let item of items" (click)="showProdutos(item.id)">
            <ion-icon name="cart" item-start></ion-icon>
            {{ item.nome }}
          </button>
      
          
      
        </ion-list>
    </ion-card>  
</ion-content>
