page-home {

    h3 {
        text-align: center;
    }

    img {
        width: 150px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .background {
        //background-image: url('../assets/back321.jpg');
        background-color: rgb(0, 39, 56);

        margin: auto;
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        margin: 0 auto;
        padding: 10vw;
        text-align: center;
        color: white;
    }

    .item {
        margin-bottom: 10px;
        background: rgba(236, 234, 234, 0.5);
        border-radius: 10px;
        
        .text-input, {
            color: #fff;
        }

        input::-moz-placeholder{
            color: #fff!important;
        }
        input:-moz-placeholder {
            color: #fff!important;
        }
        *:-moz-placeholder{
            color: #fff!important;
        }
        *:-ms-input-placeholder{
            color: #fff!important;
        }
        *::-webkit-input-placeholder{
            color: #fff!important;
        }
        
    }

    .btn {
        
        
    }

    .btn-entrar {
        background: rgb(255, 211, 20);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .btn-registrar {
        background: rgba(196, 193, 193, 0.5);
        margin-top: 100px;
    }


    .btn-google {
        background: rgba(196, 193, 193, 0.5);
        margin-top: 15px;
    }

    .button-inner {
        color: #fff;
    }

    .button-outline-md {
        border-color: #fff;
        color: #fff;
    }
}
