page-signup {
    .danger {
        color: red;
    }

    .background {
        min-height: 100%;
        height: 700px;
        background-color: rgb(0, 39, 56);
        background-repeat: no-repeat;
        margin: auto;
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        margin: 0 auto;
        padding: 10vw;
        text-align: center;
        color: white;
    }

    .item {
        margin-bottom: 10px;
        background: transparent;
        border-radius: 10px;
        
        .text-input, {
            color: #fff;
        }

        input::-moz-placeholder{
            color: #fff!important;
        }
        input:-moz-placeholder {
            color: #fff!important;
        }
        *:-moz-placeholder{
            color: #fff!important;
        }
        *:-ms-input-placeholder{
            color: #fff!important;
        }
        *::-webkit-input-placeholder{
            color: #fff!important;
        }
        
    }

    .btn {
        background: rgb(255, 211, 20);
    }

    .select-text {
        color: #fff;
    }

}
